.box {
  background-color: var(--dark-background-color);
  padding: 200px 0px 200px 0px;
  width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  & h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}